@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  margin: 20.7vh;
  padding: 5vh;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
}